<a href="https://colab.research.google.com/github/jbliaw/QM323/blob/main/AutomatingConjointRegressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- NOTE: Please make a copy of this file for yourself (it's like a google doc). That way you can edit as you need, and it won't interfere with other runs. 
- Before you start, prep the data for regression in excel (basically Conjoint Tutorial as posted in Conjoint Workshop QM 11 folder): 
     - transpose direct data from Qualtrics (.csv file)
     - download "dummy variables for conjoint analysis regressions" on QTools (.xlsx file)
     - copy and paste customers to "dummy variables..." excel file (see JetOrange example) (keep as .xlsx file)
          - make sure you name each customer as Customer1, Customer2 instead of 'Customer 1', 'Customer 2', etc. (omit the space)
          - make sure your conjoint survey data is on the first sheet of the excel workbook (there's a way to select certain sheets using the pandas library but I haven't included it in this code. If you're interested, simply google 'pandas read specific excel sheet' and the docs should come up. Also, .csv files, though they look like .xlsx files, don't actually save anything other than the first sheet, so be careful to not lose your work by saving it as a .csv)
     - rename file to 'conjointdata.xlsx' so that you can upload to Google Colab
- Then upload the file: 
     - click folder icon to the left
     - right click in white space (or regular click page with arrow icon) and upload 'conjointdata.xlsx'
     - click each 'play'/run button (more instructions as #comments in each code block)

## General Prep

In [ ]:
# Necessary imports
import pandas as pd
import pandas.testing as tm
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
# Read in data
df = pd.read_excel('conjointdata.xlsx')
print(df.shape) # (rows, columns)
df.head() # Take a look at the data

(9, 49)

   Profile  Price high  Price low  ...  Customer41  Customer42  Customer43
0        1           1          0  ...           3           2           6
1        2           0          0  ...           2           2           3
2        3           0          0  ...           2           2           4
3        4           1          0  ...           3           2           3
4        5           1          0  ...           3           2           6

[5 rows x 49 columns]

# Short Way

In [ ]:
# Defining a function to do it all at once

def automateregression(df):
  # Rename columns so they're easier to grab
  df = df.rename(columns={"Price high": "pricehigh", 
                   "Price low": "pricelow", 
                   "atribute 2 high": "attribute2high",
                   "attribute 3 high": "attribute3high", 
                   "attribute 4 high": "attribute4high"}, errors='raise')
  
  # Create a list of customers to iterate through
  listofcustomers = []
  for (columns, columndata) in df.iteritems():
    if columns.startswith("Customer"):
      listofcustomers.append(columns)
    else: continue

  # Create an empty dataframe (theresults) with proper column names
  theresults = pd.DataFrame(columns = ['Intercept', 'pricehigh', 'pricelow', 'attribute2high', 'attribute3high', 'attribute4high'])

  # Iterating thru each customer and running regressions
  for eachcustomer in listofcustomers:
    customer = eachcustomer
    # Run regressions
    mod = smf.ols(formula = '{} ~ pricehigh + pricelow + attribute2high + attribute3high + attribute4high'.format(customer), data = df)
    res = mod.fit()
    results_summary = res.summary() # Regression results
    results_as_html = results_summary.tables[1].as_html() # Converting results summary into dataframe
    newdf = pd.read_html(results_as_html, header=0, index_col=0)[0] # Converting results summary into dataframe
    transposed = newdf.T # Transposing to new dataframe
    theresults = theresults.append(transposed.iloc[0]) # Appending transposed dataframe to theresults

  # Resetting index for nice formatting
  theresults = theresults.reset_index(drop=True)
  theresults.index = theresults.index + 1

  return theresults

In [ ]:
# Run the function with your data (df)
theresults = automateregression(df)
# Ignore big block of text, it's not important in our case

# Sve theresults as an excel file
theresults.to_excel('conjointresults.xlsx')

# TO DOWNLOAD: 
#      - Click folder icon to the left, file named 'conjointresults.xlsx' should appear
#      - Right click the file and download to your computer

/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))

# Long Way (if you're interested in seeing/understanding how it works step by step)

In [ ]:
# Read in data
df1 = pd.read_excel('conjointdata.xlsx')
print(df1.shape) # (rows, columns)
df1.head() # Take a look at the data

(9, 49)

   Profile  Price high  Price low  ...  Customer41  Customer42  Customer43
0        1           1          0  ...           3           2           6
1        2           0          0  ...           2           2           3
2        3           0          0  ...           2           2           4
3        4           1          0  ...           3           2           3
4        5           1          0  ...           3           2           6

[5 rows x 49 columns]

In [ ]:
# Rename columns so they're easier to grab
df1 = df1.rename(columns={"Price high": "pricehigh", 
                   "Price low": "pricelow", 
                   "atribute 2 high": "attribute2high",
                   "attribute 3 high": "attribute3high", 
                   "attribute 4 high": "attribute4high"}, errors='raise')
df1.head()

   Profile  pricehigh  pricelow  ...  Customer41  Customer42  Customer43
0        1          1         0  ...           3           2           6
1        2          0         0  ...           2           2           3
2        3          0         0  ...           2           2           4
3        4          1         0  ...           3           2           3
4        5          1         0  ...           3           2           6

[5 rows x 49 columns]

In [ ]:
# Create a list of customers to iterate through
listofcustomers = []
for (columns, columndata) in df1.iteritems():
  if columns.startswith("Customer"):
    listofcustomers.append(columns)
  else: continue
print(listofcustomers) # Take a look at the list

['Customer1', 'Customer2', 'Customer3', 'Customer4', 'Customer5', 'Customer6', 'Customer7', 'Customer8', 'Customer9', 'Customer10', 'Customer11', 'Customer12', 'Customer13', 'Customer14', 'Customer15', 'Customer16', 'Customer17', 'Customer18', 'Customer19', 'Customer20', 'Customer21', 'Customer22', 'Customer23', 'Customer24', 'Customer25', 'Customer26', 'Customer27', 'Customer28', 'Customer29', 'Customer30', 'Customer31', 'Customer32', 'Customer33', 'Customer34', 'Customer35', 'Customer36', 'Customer37', 'Customer38', 'Customer39', 'Customer40', 'Customer41', 'Customer42', 'Customer43']

In [ ]:
# Create an empty dataframe with proper column names
theresults = pd.DataFrame(columns = ['Intercept', 'pricehigh', 'pricelow', 'attribute2high', 'attribute3high', 'attribute4high'])
print(theresults)

Empty DataFrame
Columns: [Intercept, pricehigh, pricelow, attribute2high, attribute3high, attribute4high]
Index: []

In [ ]:
# Iterating thru each customer and running regressions
for eachcustomer in listofcustomers:
  customer = eachcustomer
  mod = smf.ols(formula = '{} ~ pricehigh + pricelow + attribute2high + attribute3high + attribute4high'.format(customer), data = df1)
  res = mod.fit()
  results_summary = res.summary()
  results_as_html = results_summary.tables[1].as_html() # Converting results summary into dataframe
  newdf = pd.read_html(results_as_html, header=0, index_col=0)[0] # Converting results summary into dataframe
  transposed = newdf.T
  theresults = theresults.append(transposed.iloc[0])
#theresults #(remove the first # from this line if you want to see the results)
# uhhh, ignore the big block of text, it's not important in our case

/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))

In [ ]:
theresults.shape # 43 responses, 6 columns for intercept, pricelow, pricehigh, at2, at3, at4

(43, 6)

In [ ]:
# Reformatting the index
theresults = theresults.reset_index(drop=True)
theresults.index = theresults.index + 1
theresults

    Intercept     pricehigh  ...  attribute3high  attribute4high
1      5.0000  2.220000e-16  ...    1.998000e-15    1.998000e-15
2      1.3333 -3.333000e-01  ...    3.333000e-01    6.667000e-01
3      5.0000  2.220000e-16  ...    1.998000e-15    1.998000e-15
4      6.0000  2.776000e-17  ...    2.665000e-15    1.998000e-15
5      4.6667 -1.666700e+00  ...    6.667000e-01   -6.667000e-01
6      2.3500 -1.500000e-01  ...    8.000000e-01    2.200000e+00
7      4.6667 -6.667000e-01  ...   -3.333000e-01   -1.666700e+00
8      2.5333 -1.333000e-01  ...    9.333000e-01   -9.333000e-01
9      3.2833  1.167000e-01  ...    1.933300e+00    6.670000e-02
10     3.2000 -3.300000e+00  ...    1.100000e+00   -1.000000e-01
11     1.0000  9.298000e-16  ...    1.305000e-15    5.551000e-16
12     5.0667  2.333000e-01  ...    8.667000e-01   -2.366700e+00
13     6.9000 -6.000000e-01  ...   -1.800000e+00    3.000000e-01
14     4.4000 -1.100000e+00  ...    7.000000e-01    2.300000e+00
15     4.6333 -5.333000e-01  ...    2.333000e-01   -1.233300e+00
16     4.6000 -4.000000e-01  ...    1.300000e+00    2.000000e-01
17     1.9833  3.167000e-01  ...    3.330000e-02    4.966700e+00
18     6.9667  6.333000e-01  ...   -2.433300e+00   -2.066700e+00
19     2.0167 -8.167000e-01  ...    9.667000e-01   -4.667000e-01
20     7.0000 -1.721000e-15  ...    8.882000e-16    1.998000e-15
21     2.6667 -6.667000e-01  ...   -8.333000e-01    3.333000e-01
22     4.4000 -1.000000e-01  ...    2.000000e-01   -7.000000e-01
23     2.0000 -5.000000e-01  ...   -1.500000e+00    3.500000e+00
24     5.1667 -1.667000e-01  ...    6.667000e-01   -6.667000e-01
25     5.9333  2.667000e-01  ...    1.333000e-01   -2.133300e+00
26     6.2167 -1.167000e-01  ...   -2.933300e+00   -5.667000e-01
27     5.8000 -1.200000e+00  ...    4.000000e-01   -1.400000e+00
28     2.5500 -1.450000e+00  ...    3.400000e+00    1.000000e-01
29     5.0833 -8.330000e-02  ...    1.333300e+00    6.667000e-01
30     5.6500 -1.850000e+00  ...    2.000000e-01   -2.000000e-01
31     4.4333  2.667000e-01  ...   -8.667000e-01   -1.633300e+00
32     6.2167 -6.167000e-01  ...    1.066700e+00   -1.066700e+00
33     3.7667 -5.667000e-01  ...   -3.330000e-02   -1.466700e+00
34     2.6833  1.670000e-02  ...   -8.667000e-01   -6.333000e-01
35     3.5500  1.050000e+00  ...   -6.000000e-01    6.000000e-01
36     2.7833  1.167000e-01  ...   -5.667000e-01   -1.433300e+00
37     3.0667  7.333000e-01  ...    8.667000e-01    1.133300e+00
38     6.2000 -3.000000e-01  ...   -9.000000e-01   -1.000000e-01
39     4.7500  1.250000e+00  ...   -5.000000e-01    1.665000e-15
40     3.7500  7.500000e-01  ...    1.554000e-15   -1.500000e+00
41     3.8000 -2.000000e-01  ...    4.000000e-01   -1.400000e+00
42     2.0000  1.943000e-16  ...    8.327000e-16    8.327000e-16
43     4.4000 -1.000000e-01  ...    2.000000e-01   -1.700000e+00

[43 rows x 6 columns]

In [ ]:
# Download to an excel file
theresults.to_excel('conjointresults.xlsx')